

body:after {
    content: "";
    width: 10%;
    height: 10%;
    background: url("../images/logo.png");
	background-repeat: no-repeat;
	background-size: contain;
    top: 10px;
    left: 10px;
    position: absolute;
    display: inline-block;
}

html {
    width: 100vw !important;
    height: 100vh !important;
	overflow: hidden !important;
}

body {
    content: "";
    width: 100vw !important;
    height: 100vh !important;
	overflow: hidden !important;
    background: url("../images/back.png");
	background-position: right 0% bottom 45%;
	background-repeat: no-repeat;
	background-size: contain;
    top: 0px;
    right: 0px;
    position: absolute;
    display: inline-block;
	
}

.controls {
    position:fixed !important;
}

.reveal{
    width: 100vw !important;
    height: 100vh !important;
	overflow: hidden !important;
	position:fixed !important;
}

.progress {
	position:fixed !important;
}

.progress:after {
    position:fixed !important;
}

html.dimbg .slide-background {
	opacity: 0.2 !important;
}

html.dimbg2 .slide-background  {
  background-size: cover !important;
}

#namediv
{
  color:white;
}

#namediv2
{
	text-align: left;
}

 b, strong {
     color: red;
     }
	 


/*
li {
	font-size:20px;
    height: 60px;
    width: "100%";
}
*/


#footer-left {
	position: absolute;
	bottom: 5px;
	left: 5px;
}
			
			
#left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}

#right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
}

#grey {
	background-image: linear-gradient(to right, rgba(0,0,0,1.0), 
												rgba(0,0,0,0.7),
												rgba(0,0,0,0.3));
    //color: #111;
    //background-color: white;
	//margin: -300px !important;
    padding: 100px;
    //min-height: 100% !important;
	//height: 50vh;
	//width: 50vw;

}

#white {
	opacity: 0.8;
    color: #111;
    background-color: white;
}

#bigcode pre code {
    font-size: 30pt !important;
	line-height: 33pt !important;
	text-align: center;
}

	